<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

</head>
<body>
<header th:insert="fragments/header :: header"></header>
<h1>Form</h1>

<form th:action="@{/create/addEvent}" th:object="${event}" method="post">

    <div class="form-group">
        <input type="text" class="form-control" hidden
               id="id" name="id" th:field="*{id}" placeholder="id"/>
    </div>

    <div class="form-group">
        <label for="title">Title</label>
        <input type="text" class="form-control"
               id="title" th:field="*{title}"/>
        <span th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Name Error</span>
    </div>
    <div class="form-group">
        <label for="location">location</label>
        <input type="text" class="form-control"
               id="location" th:field="*{location}"/>
        <span th:if="${#fields.hasErrors('location')}" th:errors="*{location}">Name Error</span>
    </div>


    <div class="form-group">
        <label for="description">Description</label>
        <input type="text" class="form-control"
               id="description" th:field="*{description}"/>
        <span th:if="${#fields.hasErrors('description')}" th:errors="*{description}">Name Error</span>
    </div>

    <div class="form-group">
        <label for="startLesson">Start Time</label>
        <input type="text" class="form-control"
               id="startLesson" th:field="*{startTime}"/>
        <span th:if="${#fields.hasErrors('startTime')}" th:errors="*{startTime}">Name Error</span>
    </div>

    <div class="form-group">
        <label for="endLesson">End Time</label>
        <input type="text" class="form-control"
               id="endLesson" th:field="*{endTime}"/>
        <span th:if="${#fields.hasErrors('endTime')}" th:errors="*{endTime}">Name Error</span>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>

</body>
</html>

