<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<header th:insert="fragments/header :: header"></header>
<div class="container-fluid well span6">
    <div class="row-fluid">
        <div class="span8" th:class="${event}">
            <div th:if="${event}">
                <h2>Event : </h2>
                <h3 th:text="${event.title}"/>
                <h3 th:text="${event.description}"/>
                <h3 th:text="${event.location}"/>
                <h3 th:text="${#temporals.format(event.startTime, 'dd-MM-yyyy, HH:mm')}"/>
                <h3 th:text="${#temporals.format(event.endTime, 'dd-MM-yyyy, HH:mm')}"/>
                <h3 th:text="${event.status}"/>
                <h4 th:switch="${@userService.isJoinedUserEvent(event,@userController.getCurrentUser())}">
                    <a th:case="${true}" th:href="@{/unJoinEvent/{id}(id=${event.id})}">Un join</a>
                    <a th:case="${false}" th:href="@{/joinEvent/{id}(id=${event.id})}">Join</a>
                </h4>
            </div>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Description</th>
                    <th scope="col">Event title</th>

                    <div sec:authorize="hasAnyAuthority('ROLE_MODERATOR')">
                        <th scope="col">Edit</th>
                        <th scope="col">Delete</th>
                    </div>
                </tr>
                </thead>
                <tbody>
                <h5><a th:href="@{/events}">Back to events </a></h5>
                <h1>Topics </h1>
                <tr th:if="${event.topics == null or event.topics.isEmpty()}">
                    <td colspan="2">No topics</td>
                </tr>
                <tr th:each="topic : ${event.topics}" th:if="${topic.active}">
                    <td th:text="${topic.id}"/>
                    <td><a th:href="@{/topicProfile/{id}(id=${topic.id})}" th:text="${topic.name}"></a></td>
                    <td th:text="${topic.description}"/>
                    <td th:text="${topic.event.title}"/>
                    <td th:text="${topic.user.email}"/>
                    <div sec:authorize="hasAnyAuthority('ROLE_MODERATOR')">
                        <td><a th:href="@{/update/editTopic/{id}(id=${topic.id})}">Edit</a></td>
                        <td><a th:href="@{/deleteTopic/{id}(id=${topic.id})}">Delete</a></td>
                    </div>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>
</body>
</html>

