<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


</head>
<body>

<th:block th:insert="fragments/header :: header"></th:block>


<div sec:authorize="hasAnyAuthority('ROLE_MODERATOR')">
    <h3><a href="/create/createEventForm">Add a new event</a></h3>
</div>

<a th:href="@{'/events/?sort=id&pageNumber='+${events.paging.pageNumber}}"> ID </a>|
<a th:href="@{'/events/?sort=title&pageNumber='+${events.paging.pageNumber}}"> Title </a>|
<a th:href="@{'/events/?sort=location&pageNumber='+${events.paging.pageNumber}}"> Location </a>|
<a th:href="@{'/events/?sort=startTime&pageNumber='+${events.paging.pageNumber}}"> StartTime </a>|
<a th:href="@{'/events/?sort=participants&pageNumber='+${events.paging.pageNumber}}"> Topics</a>
<table class="table table-striped">

    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Title</th>
        <th scope="col">Description</th>
        <th scope="col">Location</th>
        <th scope="col">Start</th>
        <th scope="col">End</th>
        <th scope="col">Status</th>
        <th scope="col">Participants</th>
        <div sec:authorize="hasAnyAuthority('ROLE_MODERATOR')">
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
        </div>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${events.page == null or events.page.isEmpty()}">
        <td colspan="2">No Events Available</td>
    </tr>
    <tr th:each="event : ${events.page}">
        <td th:text="${event.id}"/>
        <td><a th:href="@{/eventProfile/{id}(id=${event.id})}" th:text="${event.title}"></a></td>
        <td th:text="${event.description}"/>
        <td th:text="${event.location}"/>
        <td th:text="${#temporals.format(event.startTime, 'dd-MM-yyyy, HH:mm')}"/>
        <td th:text="${#temporals.format(event.endTime, 'dd-MM-yyyy, HH:mm')}"/>
        <td th:text="${event.status}"/>
        <td th:text="${event.participants}"/>
        <div sec:authorize="hasAnyAuthority('ROLE_MODERATOR')">
            <td><a th:href="@{/update/editEvent/{id}(id=${event.id})}">Edit</a></td>
            <td>
                <form th:action="@{/delete/deleteEvent/{id}(id=${event.id})}" method="post">
                    <button type="submit" value="Submit" class="btn btn-danger">Delete</button>
                </form>
            </td>
        </div>
    </tr>
    </tbody>
</table>
<nav aria-label="Page navigation" class="paging">
    <ul class="pagination" th:if="${events.page.totalPages > 1}">
        <li class="page-item" th:classappend="${!events.paging.isPrevEnabled()? 'disabled' : ''}">
            <a class="page-link" th:href="@{'/events/?pageNumber=' + ${events.paging.pageNumber - 1}+'&sort='+${sort}}"
               tabindex="-1" th:text="#{paging.previous}">Previous</a>
        </li>
        <th:block th:each="item : ${events.paging.getItems()}">
            <li class="page-item" th:classappend="${item.index == events.paging.pageNumber? 'active' : ''}"
                th:if="${item.pageItemType.name() == 'PAGE'}">
                <a class="page-link" th:href="@{'/events/?pageNumber=' + ${item.index}+'&sort='+${sort}}"
                   th:text="${item.index}"></a>
            </li>
            <li class="page-item disabled" th:if="${item.pageItemType.name() == 'DOTS'}">
                <a class="page-link" href="#">...</a>
            </li>
        </th:block>
        <li class="page-item" th:classappend="${!events.paging.isNextEnabled()? 'disabled' : ''}">
            <a class="page-link" th:href="@{'/events/?pageNumber=' + ${events.paging.pageNumber + 1}+'&sort='+${sort}}"
               th:text="#{paging.next}">Next</a>
        </li>
    </ul>
</nav>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
</body>
</html>

