<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

</head>
<body>
<header th:insert="fragments/header :: header"></header>
<h1>Form</h1>

<form th:action="@{/createTopic/addTopic}" th:object="${topic}" method="post">

    <div class="form-group">
        <input type="text" class="form-control" hidden
               id="id" name="id" th:field="*{id}"/>
    </div>
    <div class="alert alert-danger" th:if="${#fields.hasErrors('global')}">
        <span th:each="err : ${#fields.errors('global')}" th:text="${err}" class="error"/>
    </div>
    <div class="form-group">
        <label for="name">Title</label>
        <input type="text" class="form-control"
               id="name" th:field="*{name}"/>
        <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</span>
    </div>

    <div class="form-group">
        <label for="description">Description</label>
        <input type="text" class="form-control"
               id="description" th:field="*{description}"/>
        <span th:if="${#fields.hasErrors('description')}" th:errors="*{description}">Name Error</span>
    </div>

    <div class="form-group">
        <label for="userId">User ID</label>
        <input type="number" class="form-control"
               name="userId" id="userId" placeholder="userId"/>
    </div>
    <div class="form-group">
        <label for="eventId">Event ID</label>
        <input type="number" class="form-control"
               name="eventId" id="eventId" th:value="${param?.eventId}"/>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>
</body>
</html>

